@model EmployeeViewModel

<form asp-controller="Employee" asp-action="Change">
    <input hidden asp-for="Id" />


    <hr />
    <div class="row">
        <div class=" col-12 text-center">
            <p class="font-weight-bold">
                <h>@Html.DisplayNameFor(model => model.FirstName)</h>
            </p>
        </div>
    </div>
    <div class=" row">
        <div class=" col-6">
            <p class="font-italic">
                <h>@Model.FirstName</h>
            </p>
        </div>
        <div class=" col-6">
            <div class="form-group">
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class=" row">
        <div class=" col-12 text-center">
            <p class="font-weight-bold">
                <h>@Html.DisplayNameFor(model => model.LastName)</h>
            </p>
        </div>
    </div>

    <div class=" row">
        <div class=" col-6">
            <p class="font-italic">
                @Model.LastName
            </p>
        </div>
        <div class=" col-6">
            <div class="form-group">
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class=" row">
        <div class=" col-12 text-center">
            <p class="font-weight-bold">
                <h>@Html.DisplayNameFor(model => model.PhoneNumber)</h>
            </p>
        </div>

    </div>
    <div class=" row">
        <div class=" col-6">
            <p class="font-italic">
                @Model.PhoneNumber
            </p>
        </div>
        <div class=" col-6">
            <div class="form-group">
                <input class="form-control" asp-for="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class=" col-12 text-center">
            <p class="font-weight-bold">
                <h>@Html.DisplayNameFor(model => model.Email)</h>
            </p>
        </div>
    </div>
    <div class=" row">
        <div class=" col-6">
            <p class="font-italic">
                @Model.Email
            </p>
        </div>
        <div class=" col-6">
            <div class="form-group">
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class=" col-12 text-center">
            <p class="font-weight-bold">
                <h>@Html.DisplayNameFor(model => model.Password)</h>
            </p>
        </div>
    </div>
    <div class=" row">
        <div class=" col-6">
            <p class="font-italic">
                @Model.Password
            </p>
        </div>
        <div class=" col-6">
            <div class="form-group">
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class=" row">
        <div class=" col-12 text-center">
            <p class="font-weight-bold">
                <h>@Html.DisplayNameFor(model => model.Shop)</h>
            </p>
        </div>
    </div>
    <div class=" row">
        <div class=" col-6">
            <p class="font-italic">
                @Model.ShopName
            </p>
        </div>
        <div class=" col-6">
            <select asp-for="ShopId" class="form-control" asp-items="ViewBag.ShopId"></select>
        </div>
    </div>

    <input type="submit" value="Save Changes" class="btn btn-success" />
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
