
@model GetPlantViewModel

<a asp-action="Get">Get all</a>
<hr />
<div class="sort">
    <form>
        <input type="radio" name="orderBy" value="orderByName" />
        <label asp-for="OrderBy">order by name</label>

        <input type="radio" name="orderBy" value="orderByPrice" />
        <label asp-for="OrderBy">order by price</label>

        <input type="radio" name="sortByTypeOfPlant" value="tree" />
        <label asp-for="SortByTypeOfPlant">tree</label>


        <input type="radio" name="sortByTypeOfPlant" value="bush" />
        <label asp-for="SortByTypeOfPlant">bush</label>


        <input type="radio" name="sortByTypeOfPlant" value="flower" />
        <label asp-for="SortByTypeOfPlant">flower</label>


        <input type="radio" name="sortByPlaceToPlant" value="garden" />
        <label asp-for="SortByPlaceToPlant">garden</label>


        <input type="radio" name="sortByPlaceToPlant" value="home" />
        <label asp-for="SortByPlaceToPlant">home</label>


        <input type="submit" value="submit" />
    </form>
</div>

<hr />
<div>
    @using (Html.BeginForm("Plant", "Get", FormMethod.Post))
        @foreach (var plant in Model.Query)
        {
            <div onclick="getInfoPlant('@plant.Id')">
                <div class="card">
                    <div class="container">
                        @if (plant.PhotoPath != null)
                        {

                            <img src="~/img/@plant.PhotoPath" alt="@plant.PlantName" />
                        }
                        else
                        {
                            if (plant.TypeOfPlant == "bush")
                            {
                                <img src="~/img/bush.jpg" alt="bush" />
                            }
                            else if (plant.TypeOfPlant == "flower")
                            {
                                <img src="~/img/flower.jpg" alt="flower" />
                            }
                            else if (plant.TypeOfPlant == "tree")
                            {
                                <img src="~/img/tree.png" alt="tree" />
                            }
                        }
                    <p>
                        <h>@Html.DisplayNameFor(model => model.PlantName)</h>: @plant.PlantName
                     
                        <br />
                        <h>@Html.DisplayNameFor(model => model.Price)</h>: @plant.Price
                        <br />
                        <h>@Html.DisplayNameFor(model => model.ShopName)</h>: 
                        @foreach(var shop in plant.ShopPlant)
                    {
                            <a asp-controller="Shop"asp-action="Details" asp-route-id="@shop.ShopId">

                                 @shop.Shop.ShopName
                            </a>
                    }
                    </p>
                    </div>
                </div>
            </div>
            <br />
        }
</div>

<ul class="pagination">

    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
            <a class="page-link" href="@Url.Action("Get", new 
                                  {
                                      orderBy=Model.OrderBy,
                                      SortByTypeOfPlant=Model.SortByTypeOfPlant,
                                      SortByPlaceToPlant=Model.SortByPlaceToPlant,
                                      page = i 
                                  })">@i</a>
        </li>

        @if (i > 1)
        {

            <li hidden> asp-for="SortByTypeOfPlant" value="@Model.SortByTypeOfPlant"</li>


        }
    }
</ul>

<script>
    const getInfoPlant = id => {
        window.location = `/Plant/InfoPlant?id=${id}`
    }
</script>

